* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.header__background {
    position: relative;
}

.main-nav {
    width: 100%;
    display: flex;
    background-color: transparent;
    padding: 5px 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: fixed;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.65s ease;
    transition: all 0.6s ease;
    z-index: 1;
}

.main-nav__toggle {
    display: none;
}

.main-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 5;
    padding: 10px;
}

.main-menu__link {
    text-decoration: none;
    color: #101928;
    display: block;
}

.main-menu__link:visited {
    color: transparent;
}

.main-menu__link:hover {
    color: #f5cf45;
}

.main-menu__link:active {
    color: #f5cf45;
}

.main-menu__element {
    list-style-type: none;
    margin: 0 15px;
    font-family: 'Capriola', sans-serif;
    font-size: 24px;
}

.main-nav--fixed {
    background-color: #aaaaaa;
    box-shadow: 0 0 15px 5px rgba(50,50,50,0.3);
    padding-bottom: 5px;
}

.main-menu__link--fixed {
    text-decoration: none;
    color: #C10A0A;
    display: block;
}

.main-menu__link--fixed:hover {
    color: #f5cf45;
}

.main-menu__link--fixed:active {
    color: #f5cf45;
}

.carousel__slide {
    display: none;
}

.carousel__slide img {
    width: 100%;
    height: auto;
    opacity: 0.8;
    max-height: 96vh;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    position: absolute;
    bottom: 5px;
    left: 44%
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(95, 95, 95);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #313131;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.section-about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
    color: #494646;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

.section-about-me__text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 5%;
    width: 65%;
    text-align: justify;
}

.section-about-me__photo{
    margin-top: auto;
    margin-bottom: auto;
    width: 40vw;
    max-width: 150px;
    max-height: 200px;
}

.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #101928;
}

.demo__title {
    color: white;
    margin-bottom: 15px;
}

.price-list {
    margin: 20px 30%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(238, 238, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}
.price-list__title {
    text-align: center;
    margin: 10px;
}

.price-list__table {
    border-collapse: collapse;
    width: 100%;
}

.price-list__table td, .price-list__table th {
    border: 2px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.section-contact{
    background-color: #aaaaaa;
    color: black;
    padding: 5px 2vw;
    display: flex;
    justify-content: space-between;
}

.section-contact__social-media{
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media only screen and (max-width: 767px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .main-nav__flex-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .main-nav__toggle {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        max-height: 14vw;
    }

    .main-nav__hamburger-logo {
        max-height: 14vw;
    }

    .main-menu {
        flex-direction: column;
        align-items: center;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        max-height: 150px;
    }
    .main-nav__navigation--collapsed {
        max-height: 0 !important;
    }

    .main-nav--top {
        background-color: #aaaaaa;
    }

    .main-menu__element {
        margin: 5px auto;
        font-size: 20px;
        font-weight: bold;
        width: 96vw;
        text-align: center;
    }

    .main-menu__link {
        color: #C10A0A;
    }

    .section-about-me {
        flex-direction: column;
        align-items: center;
    }

    .section-about-me__text{
        width: 80%;
        text-align: justify;
        order: 1;
    }

    .section-about-me__photo{
        width: 50vw;
        max-width: 150px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-nav {
        flex-direction: column;
        align-items: center;
    }

    .main-menu {
        justify-content: flex-start;
    }

    .main-menu__element {
        font-size: 21px;
    }
}